In [16]:
# importing libraries 
import pandas as pd 
import numpy as np 
import sklearn as sk 
from sklearn.linear_model import LinearRegression

In [23]:
#read dataset using pandas
data = pd.read_csv("sampledata.csv")

In [24]:
#to view top 5 rows of dataset
data.head()

   year  sales  advertising
0     1    651           23
1     2    762           26
2     3    856           30
3     4   1063           34
4     5   1190           43

In [26]:
# X is the input
X = data['sales']
# reshape X to 2d array from 1d array
X= X.values.reshape(-1,1)  
X

array([[ 651],
       [ 762],
       [ 856],
       [1063],
       [1190],
       [1298],
       [1421]], dtype=int64)

In [27]:
# Y is the output
Y = data['advertising'] 
# reshape Y to 2d array from 1d array
Y = Y.values.reshape(-1, 1)
Y

array([[23],
       [26],
       [30],
       [34],
       [43],
       [48],
       [52]], dtype=int64)

In [20]:
clf = LinearRegression()

In [21]:
# fit input and output into linear regression model
clf.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:

inp = np.array([2000]) 
inp = inp.reshape(1, -1) 
print('The sales for the input is:', clf.predict(inp))

The sales for the input is: [[73.79425344]]